# Ignora los archivos terminados en .class
*.class

# Ignora los archivos terminados en ~
*~

# Pero no importante~, aun cuando había ignorado los archivos terminados en ~
# en la línea anterior
!importante~
